# .gitignore

# Entorno virtual
env/
venv/
__pycache__/

# Archivos y carpetas generados por Django
*.pyc
*.pyo
*.pyd
db.sqlite3
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/__pycache__/*
**/__pycache__/**.pyc
**/__pycache__/**.pyo
**/__pycache__/**/__pycache__
**/__pycache__/**/__pycache__/*
**/__pycache__/**/__pycache__/**.pyc
**/__pycache__/**/__pycache__/**.pyo

